<!DOCTYPE html>
<html>
<head>
  <title>Adult</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<br><br><br><br>

<% if user_signed_in? %>
	<%= current_user.id %>
<% end %> 
</body>
</html>
